<h1>Prime Hunter</h1>
<form class="" action="/result" method="get">
  <div class="form-group">
    <label for="integer">Enter a number to see a range of numbers with all composites removed:</label>
    <input id="integer" name="integer" class="form-control" type="number">
  </div>
  <button type="submit" class="btn btn-info">Show Me Primes!</button>
</form>
